{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block start %}
    <div class="content-section col-md-8 col-md-offset-2">
  <center>
    {% if request.session.invalid_login %}
        <div class="alert alert-danger">
            {{ request.session.invalid_login }}
        </div>
    {% endif %}
  <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy}}
    </fieldset>
   <center>
    <button style="background: cornflowerblue; font-size: 2rem; padding:1%;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span>   Login</button>

  </center>
  <br/>
      <sub style="text-align: left;"><a href="{% url 'password_reset' %}" class="btn btn-outline-info" style="text-decoration: none; color: blue; padding:2%; cursor:pointer; margin-right:2%;">Reset Password</a></sub>
  <sub style="text-align: left;"><a href="{% url 'signup' %}" class="btn btn-outline" style="text-decoration: none; color: blue; padding:2%; cursor:pointer; margin-right:2%;">don't have account,sign up</a></sub>
  </form>
</center>
 </div>
{% endblock start %}